<ion-app>
  <ion-menu side="start" menuId="MenuStudent">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Navigation</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Registration</ion-item>
          <ion-item>Program Audit</ion-item>
          <ion-item>Grades</ion-item>
          <ion-item>Invoice</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
